*{
  box-sizing: border-box;
}
body{
background-image: url('school.jpg');
background-repeat: no-repeat;
background-size: cover;
}

h1{
  text-align: center;
  margin-bottom: 150px;
}

.inputs{
margin-left: 35%;
border: black 2px;
}
input{
  border: solid black 4px;
}
.calc{
  margin-left: 35%;
}
button{
  background: #90ADC6;
  padding: 1%;
  margin-left: 3%;
  margin-top: 15px;
}

.result{
  margin-left: 47%;
}
p{
  font-size: 30px;
  color: red;
}
